<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login_registration</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'be_everywhere_app/css/homepage.css' %}" />
  </head>
  <body>
		<div class="wrapper">
			{% comment %} if already logged in redirect to admin welcome page if user permission is admin if user permission is operator ... {% endcomment %}
			<a href="/">Home</a>
			<h1>Register</h1> <p>Let's go see what's out there</p>
			<form action="/register" method="post">{% csrf_token %}
				{{regform.as_p}}
				<button type="submit" name="button">Register</button>
			</form>
      {% if messages %}
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
      {% endif %}
      <h1>Login</h1>
      <form action="/login" method="post">
        {{logform.as_p}}
        <button type="submit" name="button">Login</button>
      </form>
		</div>
  </body>
</html>
