<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login_registration</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'be_everywhere_app/css/login_registration.css' %}" />
  </head>
  <body>
		<div class="wrapper">
			<a href="/">Home</a>
	{% if messages %}
    {% for message in messages %}
      <p class="{{message.tags}}">{{message}}</p>
    {% endfor %}
  {% endif %}
			{% comment %} if already logged in redirect to admin welcome page if user permission is admin if user permission is operator ... {% endcomment %}
			<h1>Register</h1> <p>Let's go see what's out there</p>
			<form action="/register" method="post">{% csrf_token %}
				{{regform.as_p}}
				<input type="submit" name="button">Register</input>
			</form>
      <h1>Login</h1>
      <form action="/login" method="post">{% csrf_token %}
        {{logform.as_p}}
        <input type="submit" name="button">Login</input>
      </form>
		</div>
  </body>
</html>
