<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>my_messages</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'be_everywhere_app/css/my_messages.css' %}" />
	</head>
	<body>
		<div class="wrapper">
	{% if messages %}
    {% for message in messages %}
			<p class="{{message.tags}}">{{message}}</p>
    {% endfor %}
  {% endif %}
			<a href="http://localhost:8000/log_out">Logout</a>
			<form action="/change_tier" method="post"><select name="Admin">Admin</select><select name="Operator">Operator</select><select name="Attendee">Attendee</select><input type="submit" value="Change Tier"></form>
			<h1>My Messages</h1>
		{% if request.session.permission == 'Admin' %}
			<table>
				<tr>
					<td><a href="/admin_product_sales">Product Sales</a></td>
					<td><a href="/admin_manage_my_account">Manage My Account</a></td>
					<td><a href="/welcome_admin">My Page</a></td>
					<td><a href="/admin_manage_Events">Manage Events</a></td>
					<td><a href="/admin_product_sales">Manage Users</a></td>
					<td><a href="/admin_manage_users">Manage Products</a></td>
				</tr>
			</table>
		{% endif %}
		{% if request.session.permission == 'Attendee' %}
			<table>
				<tr>
					<td><a href="/welcome_attendee">My page</a></td>
					<td><a href="/become_an_operator">Become an Operator</a></td>
					<td><a href="/attendee_manage_events">Manage Events</a></td>
					<td><a href="/attendee_manage_account">Manage Account</a></td>
				</tr>
			</table>
		{% endif %}
			<h3>Compose a Message</h3>
			<form action="/send_message" method="post">{% csrf_token %}
				{{messageform.as_table}}
				<input type="submit" value="send">
			</form>
			<h3>Inbox</h3>
			<table>
				<tr>
					<td>Name</td>
					<td>Message</td>
					<td>        </td>
				</tr>
			</table>
			<fieldset>
				<table>
			{% if my_messages %}
			{% for user_and_message in my_messages %}
					<tr>
						<td>user_and_message.first</td>
						<td>user_and_message.message</td>
						<td><a href="/view_user/{{user_and_message.id}}">View User</a></td>
					</tr>
			{% endfor %}
			{% endif %}
				</table>
			</fieldset>
		</div>
	</body>
</html>
