<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>welcome_attendee</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'be_everywhere_app/css/welcome_attendee.css' %}" />
	</head>
	<body>
		<div class="wrapper">
			<a href="http://localhost:8000/log_out">Logout</a>
			<a href="http://localhost:8000/change_tier">Change Account Tier</a>
			<h1>Welcome {{request.session.name}}!</h1>
			{% load staticfiles %}
			<img src="{% static 'be_everywhere_app/images/#.jpg' %}" alt="your profile picture">
			<table>
				<tr>
					<td><a href="/my_messages">My Mesages</a></td>
					<td><a href="/attendees_become_an_operator">Become an Operator</a></td>
					<td><a href="/attendees_manage_events">Manage Events</a></td>
					<td><a href="/attendees_manage_my_account">Manage Account</a></td>
				</tr>
			</table>
			<h1>My Upcoming Events</h1>
			{% comment %} make sure this only queries up to the 3 most recent event id's for the user {% endcomment %}
	{% if events %}
		{% for item in events %}
			<fieldset>
				<table>
					<tr>
						<td><img src="{{item.image}}" alt=""></td>
						<td>{{item.name}}</td>
						<td>{{item.location}}</td>
						<td>{{item.genre}}</td>
						<td>{{item.start_date}}</td>
						<td>{{item.end_date}}</td>
						<td>{{item.description}}</td>
					</tr>
				</table>
			</fieldset>
		{% endfor %}
		{% endif %}
		</div>
	</body>
</html>
