<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>welcome_admin</title>
	</head>
	<body>
		<div class="wrapper">
			<a href="http://localhost:8000/log_out">Logout</a>
			<a href="http://localhost:8000/change_tier">Change Account Tier</a>
			<h1>Welcome Admin {{request.session.username}}!</h1>
			{% comment %} add username to table Users ^ {% endcomment %}
			{% load staticfiles %}
			<img src="{% static 'be_everywhere_app/images/#.jpg' %}" alt="your profile picture">
			<table>
				<tr>
					<td><a href="/messages">My Mesages</a></td>
					<td><a href="/admin_manage_my_account">Manage My Account</a></td>
					<td><a href="/admin_manage_events">Manage Events</a></td>
					<td><a href="/admin_manage_products">Manage Products</a></td>
					<td><a href="/admin_product_sales">Manage Product Sales</a></td>
					<td><a href="/admin_manage_users">Manage Users</a></td>
				</tr>
			</table>
		</div>
	</body>
</html>
